<div ng-controller="sourceCtrl" class="main-content">
	<md-card>
	  <md-toolbar class="md-table-toolbar md-default ptdetails">
	    <div layout="row">
	    	<md-button class="md-icon-button" aria-label="More" ui-sref="nav.sources">
	        <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Arrows/left-24.png" title="Left" width="24" style="margin-top:10px;">
	        <md-tooltip>
	          Back
	        </md-tooltip>
	      </md-button>
		    <h2 class="md-title">New marketing source details</h2>
	    </div>
      <div flex="" class="flex"></div>
      <form name="addSource">
	      <div layout="row">
	      	<md-input-container>
	      	  <md-icon> perm_identity </md-icon>
			      <label>Source name</label>
			      <input ng-model="newSource.sourceName" name="sourceName" type="text" required>
			      <div ng-messages="addSource.sourceName.$error">
		          <div ng-message="required">This is required.</div>
		        </div>
				  </md-input-container>
				  <md-input-container class="marg">
				    <md-icon> description </md-icon>
				    <label>Source description</label>
				    <textarea ng-model="newSource.sourceDescription" name="sourceDescription" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
				    <div ng-messages="addSource.sourceDescription.$error">
		          <div ng-message="required">This is required.</div>
		        </div>
				  </md-input-container>
	      </div>
	      <div layout="row">
				  <md-input-container>
				    <md-icon> phone </md-icon>
				    <label>Source number 1</label>
				    <input ng-model="newSource.sourceNumber1" name="sourceNumber1" type="number" required>
				    <div ng-messages="addSource.sourceNumber1.$error">
		          <div ng-message="required">This is required.</div>
		        </div>
				  </md-input-container>
				  <md-input-container class="marg">
	      	  <md-icon> phone </md-icon>
				    <label>Source number 2</label>
				    <input ng-model="newSource.sourceNumber2" name="sourceNumber2" type="number">
				  </md-input-container>
	      </div>
	      <md-button class="subtn md-raised md-primary" type="submit" ng-click="createSource(newSource)">
			    <label>Submit</label>
			  </md-button>
	    </form>
	  </md-toolbar>
	</md-card>
</div>