<div ng-controller="patientCtrl" data-ng-init="getPatient()">
	<md-card>
	  <md-toolbar class="md-table-toolbar md-default">
	    <h2 class="md-title" style="margin-left: 10px;">New Treatment for {{patient[0].firstname}} {{patient[0].lastname}}</h2>
      <div flex="" class="flex"></div>
      <div class="ptdetails">
      	<md-input-container>
      	  <md-icon> history </md-icon>
		      <label>Patient History</label>
		      <input ng-model="newtreatment.history" type="text">
			  </md-input-container>
			  <md-input-container class="marg">
			    <md-icon> details </md-icon>
			    <label>Treatment Details</label>
			    <input ng-model="newtreatment.treatmentDetails" type="text">
			  </md-input-container>
			  <md-input-container>
			    <md-icon> alarm </md-icon>
			    <label>Duration of treatment session</label>
			    <input ng-model="newtreatment.duration" type="text">
			  </md-input-container>
      </div>
		  <md-button class="subtn md-raised md-primary" ng-click="createTreatment(newtreatment)">
		    <label>Submit</label>
		  </md-button>
	  </md-toolbar>
	  
	</md-card>
</div>