<div ng-controller="patientCtrl" data-ng-init="getPatient()" class="main-content">
	<md-card>
	  <md-toolbar class="md-table-toolbar md-default" style="margin-left: 20px;">
	    <div layout="row">
	    	<md-button class="md-icon-button" aria-label="More" ui-sref="nav.adminPatient">
	        <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Arrows/left-24.png" title="Left" width="24" style="margin-top:10px;">
	        <md-tooltip>
	          Back
	        </md-tooltip>
	      </md-button>
		    <h2 class="md-title md-toolbar-tools patient-title">Patient Details</h2>
	    </div>
	    <div layout="row" style="font-size:15px;">
	    	<md-input-container>
	    	  <md-icon> perm_identity </md-icon>
	    	  <label>First Name</label>
		      <input ng-model="patient[0].firstname" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> perm_identity </md-icon>
		      <label>Last Name</label>
		      <input ng-model="patient[0].lastname" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> email </md-icon>
		      <label>Email</label>
		      <input ng-model="patient[0].email" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container layout="row">
		      <md-icon> perm_identity </md-icon>
		      <label>Physio</label>
		      <input ng-model="patient[0].physioRef.firstname" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
	    </div>
	    <div layout="row" style="font-size:15px;">
		    <md-input-container>
		      <md-icon> location_on </md-icon>
		      <label>Address</label>
		      <input ng-model="patient[0].address" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> av_timer </md-icon>
		      <label>Age</label>
		      <input ng-model="patient[0].age" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> phone </md-icon>
		      <label>Phone Number</label>
		      <input ng-model="patient[0].phoneNumber" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
	    </div>
	    <div layout="row" style="font-size:15px;">
		    <md-input-container>
		      <md-icon> wc </md-icon>
		      <label>Gender</label>
		      <input ng-model="patient[0].gender" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> speaker_notes </md-icon>
		      <label>Referral Source</label>
		      <input ng-model="patient[0].referralSource" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> receipt </md-icon>
		      <label>Bill per session</label>
		      <input ng-model="patient[0].billPerSession" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
	    </div>    
	    <div layout="row">
	    	<md-button class="md-raised" ng-click="button=false">
		      <label>Edit details</label>
		    </md-button>
		    <md-button class="md-raised md-primary" ng-disabled="button" ng-init="button=true" ng-click="updatePatientDetails(patient[0]._id, patient[0]); button=true">
		      <label>Update details</label>
		    </md-button>
	    </div>
	  </md-toolbar>
	</md-card>
	<md-card>
	  <md-toolbar class="md-table-toolbar md-default">
	    <div class="md-toolbar-tools">
	      <h2 class="md-title">Patient Treatments</h2>
	      <div flex="" class="flex"></div>
		    <div class="md-title search-bar">
	        <md-input-container md-no-float class="md-block">
	          <input ng-model="find" placeholder="search">
	        </md-input-container>
	      </div> 
	      <div ng-click="openAddTreatment(patient[0]._id)">
	        <md-button class="md-fab md-mini md-hue-3">
	          <img class="icon icons8-Plus-Math add-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAvUlEQVRoQ+2XwQqFMBAD3f//6D68ibxDGBooMp6362aSVjvXR575iI5LIac5qSM6UiJgtEpgcduqI2ut9ZxsZmrvqzW+BSgEBExHEmhGK6H0qjFaCTSjlVAyWoCS0QLQPLUSaMdF6z1QImJnTfLXHEVLIZts0ZFNIL1YEZDRZieNvepCajqSgDvuy54M/a9GIYCceySBZrQSSt7ZASWjBaBVTy0wD16iEIyutFBHSmBxWx3B6EoLdaQEFrf9AZUqgDNAFE7oAAAAAElFTkSuQmCC" width="26">
	          <md-tooltip>
	            Add Treatment
	          </md-tooltip>
	        </md-button>
	      </div>
	    </div>
	    <div ng-if="!treatments.length" class="md-toolbar-tools">
	      <md-button ng-click="openAddTreatment(patient[0]._id)">There are no treatments yet. Click to add a treament</md-button>
	    </div>
	    <md-table-container ng-if="treatments.length">
	      <table md-table md-row-select ng-model="selected">
	        <thead md-head md-order="query.order">
	          <th md-column>History</th>
	          <th md-column>Treatment details</th>
	          <th md-column>Duration</th>
	          <th md-column>Date Added</th>
	          <th md-column>Physio</th>
	        </thead>
	        <tbody md-body>
	          <tr md-row ng-repeat="treatment in filtered=(treatments | filter: find)">
	            <td md-cell>{{treatment.history}}</td>
	            <td md-cell>{{treatment.treatmentDetails}}</td>
	            <td md-cell>{{treatment.duration}}</td>
	            <td md-cell>{{treatment.createdAt}}</td>
	            <td md-cell>{{treatment.physioRef.firstname}}</td>
	            <td md-cell layout="row">
	              <md-button class="md-icon-button" aria-label="More" ng-click="openTreatmentDetails(treatment.patientRef, treatment._id)">
	                <md-icon> more_vert </md-icon>
	                <md-tooltip>
	                  More
	                </md-tooltip>
	              </md-button>
	              <md-button class="md-icon-button" aria-label="More" ng-click="showConfirm($event, treatment._id)">
	                <md-icon> delete </md-icon>
	                <md-tooltip>
	                  Delete
	                </md-tooltip>
	              </md-button>
	            </td>
	          </tr>
	        </tbody>
	      </table>
	    </md-table-container>
	    </div>    
	  </md-toolbar>
	</md-card>
</div>
