<md-card class="card main-content" ng-controller="adminCtrl" data-ng-init="getVerifiedUsers(); getPendingUsers()">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-title">Physios</h2>
      <div flex="" class="flex"></div>
      <div class="md-title search-bar">
        <md-input-container md-no-float class="md-block">
          <input ng-model="find" placeholder="search">
        </md-input-container>
      </div> 
    </div>
    <md-table-container ng-if="physios.length">
      <table md-table md-row-select ng-model="selected">
        <thead md-head md-order="query.order">
          <th md-column>Firstname</th>
          <th md-column>Lastname</th>
          <th md-column>Email</th>
          <th md-column>Operation</th>
          <th md-column>Marketing</th>
          <th md-column>Finance</th>
          <th md-column>E-media</th>
          <th md-column>Associate</th>

        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="physio in filtered=(physios | filter: find)">
            <td md-cell>{{physio.firstname}}</td>
            <td md-cell>{{physio.lastname}}</td>
            <td md-cell>{{physio.email}}</td>
            <td md-cell>{{physio.operation}}</td>
            <td md-cell>{{physio.marketing}}</td>
            <td md-cell>{{physio.finance}}</td>
            <td md-cell>{{physio.e_media}}</td>
            <td md-cell>{{physio.associate}}</td>
            <td md-cell layout="row">
              <md-button class="md-icon-button" aria-label="More" ng-click="showConfirmPhysio($event, physio._id)" ng-if="physio.firstname != user.firstname">
                <md-icon> delete </md-icon>
                <md-tooltip>
                  Delete
                </md-tooltip>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar md-default" ng-if="pendingPhysios.length">
    <div class="md-toolbar-tools">
      <h2 class="md-title">Pending Physios</h2>
      <div flex="" class="flex"></div>
      <div class="md-title search-bar">
        <md-input-container md-no-float class="md-block">
          <input ng-model="find" placeholder="search">
        </md-input-container>
      </div> 
    </div>
    <md-table-container>
      <table md-table md-row-select ng-model="selected">
        <thead md-head md-order="query.order">
          <th md-column>Firstname</th>
          <th md-column>Lastname</th>
          <th md-column>Email</th>
          <th md-column>Verified</th>

        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="pendingPhysio in filtered=(pendingPhysios | filter: find)">
            <td md-cell>{{pendingPhysio.firstname}}</td>
            <td md-cell>{{pendingPhysio.lastname}}</td>
            <td md-cell>{{pendingPhysio.email}}</td>
            <td md-cell>{{pendingPhysio.verified}}</td>
            <td md-cell layout="row">
              <md-button class="md-icon-button" aria-label="More" ng-click="openPendingPhysioDetails(pendingPhysio._id)">
                <md-icon> more_vert </md-icon>
                <md-tooltip>
                  More
                </md-tooltip>
              </md-button>
              <md-button class="md-icon-button" aria-label="More" ng-click="showPendingPhysioConfirm($event, pendingPhysio._id)">
                <md-icon> delete </md-icon>
                <md-tooltip>
                  Delete
                </md-tooltip>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-toolbar>
</md-card>