<div ng-controller="productCtrl" data-ng-init="getProduct()" class="main-content">
	<md-card>
	  <md-toolbar class="md-table-toolbar md-default" style="margin-left: 20px;">
	    <div layout="row">
	    	<md-button class="md-icon-button" aria-label="More" ui-sref="nav.products">
	        <img src="https://maxcdn.icons8.com/Android_L/PNG/24/Arrows/left-24.png" title="Left" width="24" style="margin-top:10px;">
	        <md-tooltip>
	          Back
	        </md-tooltip>
	      </md-button>
		    <h2 class="md-title md-toolbar-tools patient-title">Product Details</h2>
	    </div>
	    <div layout="row" style="font-size:15px;">
	    	<md-input-container>
	    	  <md-icon> perm_identity </md-icon>
	    	  <label>Product name</label>
		      <input ng-model="product[0].productName" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> description </md-icon>
		      <label>Product description</label>
		      <input ng-model="product[0].productDescription" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> perm_identity </md-icon>
		      <label>Contact name</label>
		      <input ng-model="product[0].contactName" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container layout="row">
		      <md-icon> phone </md-icon>
		      <label>Contact number 1</label>
		      <input ng-model="product[0].contactNumber1" type="number" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
	    </div>
	    <div layout="row" style="font-size:15px;">
		    <md-input-container>
		      <md-icon> phone </md-icon>
		      <label>Contact number 2</label>
		      <input ng-model="product[0].contactNumber2" type="number" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <md-icon> phone </md-icon>
		      <label>Contact number 3</label>
		      <input ng-model="product[0].contactNumber3" type="number" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
	    </div>
	    <div layout="row">
	    	<md-button class="md-raised" ng-click="button=false">
		      <label>Edit details</label>
		    </md-button>
		    <md-button class="md-raised md-primary" ng-disabled="button" ng-init="button=true" ng-click="updateProductDetails(product[0]._id, product[0]); button=true">
		      <label>Update details</label>
		    </md-button>
	    </div>
	  </md-toolbar>
	</md-card>
</div>
