<div ng-controller="patientCtrl" data-ng-init="getTreatment()">
	<md-card>
	  <md-toolbar class="md-table-toolbar md-default" style="margin-left: 20px;">
	    <div class="md-toolbar-tools patient-title">
	      <h2 class="md-title">Treatment Details</h2>
	      <div flex="" class="flex"></div>
	    </div>
	    <div layout="column">
	    	<md-input-container>
	    	  <label>History</label>
		      <textarea ng-model="treatment[0].history" md-maxlength="150" rows="5" md-select-on-focus ng-disabled="button" ng-init="button=true"></textarea>
		    </md-input-container>
		    <md-input-container>
		      <label>Treatment Details</label>
		      <textarea ng-model="treatment[0].treatmentDetails" md-maxlength="150" rows="5" md-select-on-focus ng-disabled="button" ng-init="button=true"></textarea>
		    </md-input-container>
		    <md-input-container>
		      <label>Duration</label>
		      <input ng-model="treatment[0].duration" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container layout="row">
		      <label>Date Added</label>
		      <input ng-model="treatment[0].createdAt" type="text" ng-disabled="button" ng-init="button=true">
		    </md-input-container>
		    <md-input-container>
		      <label>Physio</label>
		      <input ng-model="treatment[0].physioRef.firstname" type="text" disabled>
		    </md-input-container>
		    <div layout="row">
		    	<md-button class="md-raised" ng-click="button=false">
			      <label>Edit details</label>
			    </md-button>
			    <md-button class="md-raised md-primary" ng-disabled="button" ng-init="button=true" ng-click="updateTreatmentDetails(treatment[0]._id, treatment[0]); button=true">
			      <label>Update details</label>
			    </md-button>
		    </div>
	    </div>
	  </md-toolbar>
	</md-card>
</div>