body.md-default-theme, body{
	background-color: transparent;
}
html {
	
}
.big-div{
  display: flex;
  justify-content: center;
  background: url(../img/physio.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Lucida Grande';
	font-size: 70px;
	color: #ffffff;
}
#sub-title{
	font-weight: lighter;
	font-size: 20px;
}
.sign-in-box{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 450px;
	background: rgba(47, 78, 115, .3);

}
.tab{
	width: 90%;
	margin-left: 50px;
}
.sign-up-box{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 700px;
	background: rgba(47, 78, 115, .3);
}

#sign-in-title{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-family: 'Lucida Grande';
	font-size: 20px;
}
.form{
	font-size: 20px;
	margin: 50px;
}
.lb{
	color: #ffffff !important;
	opacity: 0.4;
}
.ptype{
	color: #ffffff !important;
	opacity: 0.4;
}
.login-input{
	border-color: #ffffff !important;
	color: #ffffff !important;
}
#register{
	display: flex;
	font-size: 15px;
	justify-content: center;
}
a{
	color: #ffffff;
}
#physioType{
	margin-left: 10px;
	margin-top: -6px;
}
.phy{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#username{
	color: #ffffff !important;
}

.admin-sidenav{
	width: 50px;
	height: 700px;
	background-color: #EBEEF3 !important;
}
.md-hue-2{
	background-color: #3E313C !important;
}
.menu-style{
	min-width: 150px !important;
}
.card{
	padding-bottom: 40px;
}
.add-img{
	height: 28px !important;
}
.add-img-icon{
	height: 20px !important;
}
.img-icon{
	height: 26px !important;
	width: 26px !important;
}
.search-bar{
	margin-right: 40px;
}
.header{
	height: 40px !important;
	min-height: 40px !important;
}
.div-toolbar{
  height: 45px !important; 
}
.patient-title{
	margin-left: -11px !important;
}
.ptdetails{
	margin-left: 20px;
	width:550px;
}
label{
	font-size: 12px;
}
.subtn{
	width: 100px;
  margin-left: 20px;
}
.marg{
	margin-left: 40px;
}
